Hello <%=@customer.first_name%>,
<br/>
<br/>
Your new password for Shoppe on <a href="www.blueshiftreads.com"> BlueshiftReads </a> is: <%=@customer.password%>
<br/>
You can login using your e-mail address.
<br/>
<br/>
Thanks,<br/>

Blueshift Team
